.minecraftIndexLink {
    background-image: url(../img/nature_hd_minecraft.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    border: solid 0.2em;
    border-color: rgb(0, 255, 13);
    text-align: center;
}
.minecraftIndexLink h1 {
    text-align: center;
    font-family: mine_tit2;
    font-size: 80px;
    margin-top: 30px;
}
.minecraftIndexLink p {
    text-align: center;
    font-size: 30px;
    font-family: mine_txt;
    background: rgba(0, 238, 255, 0.432);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.minecraftIndexLink a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: mine_txt;
    font-size: 20px;
    padding: 20px;
    background: rgba(0, 131, 11, 0.712);
    border: solid 0.2em;
    border-radius: 20px;
    text-align: center;
}
.minecraftIndexLink a:hover {
    background:rgba(0, 255, 21, 0.712);
}

@media (max-width: 768px){
    .minecraftIndexLink h1 {
        font-size: 45px;
    }
    .minecraftIndexLink p {
        font-size: 20px;
    }
    .main_content h2 {
        font-size: 25px;
    }
}
