{%extends '/paginas/chat/base.jinja'%}

{%block title %} Mis Contactos {%endblock%}

{%block content%}
<div class="container flex h-full flex-col">
    <div style="height: 100%;" class="p-4 mt-3 bg-base-300 rounded-box grid shadow-lg shadow-green-500 h-full">
        
    </div>
    <br><br>
</div>
<br><br>
{%endblock%}