{%extends '/paginas/chat/base.jinja'%}

{%block title%} {{friend.username}} {%endblock%}

{%block content%}
<div style="height: 100%;" class="container bg-base-100 h-full">
    <div id="messages_div" class="overflow-y-auto mb-20" style="height: calc(100% - 80px);">
        {%for message in messages%}
        {%if message['sender'] == friend.id%}
        <div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    {%if friend.image == None%}
                    <img alt="Tailwind CSS chat bubble component" src="/static/img/userlog.jpg" />
                    {%else%}
                    <img src="/static/uploads/{{friend.image}}">
                    {%endif%}
                </div>
            </div>
            <div class="chat-header">
                <a href="{{url_for('usuario.UserProfile', id=friend.id)}}">{{friend.username}}</a>
                <time class="text-xs opacity-50">{{message['timestamp']}}</time>
            </div>
            <div class="chat-bubble">{{message['content']}}</div>
        </div>
        {%else%}
        <div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    {%if me.image == None%}
                    <img alt="Tailwind CSS chat bubble component" src="/static/img/userlog.jpg" />
                    {%else%}
                    <img src="/static/uploads/{{me.image}}">
                    {%endif%}
                </div>
            </div>
            <div class="chat-header">
                <a href="{{url_for('usuario.UserProfile', id=me.id)}}">{{me.username}}</a>
                <time class="text-xs opacity-50">{{message['timestamp']}}</time>
            </div>
            <div class="chat-bubble">{{message['content']}}</div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
    <div class="fixed bottom-0 left-0 w-full p-4 bg-base-200">
        <input type="hidden" id="idName" value="{{session['username']}}">
        <input type="hidden" id="idUser" value="{{session['id']}}">
        <input type="hidden" id="imgUrl" value="{{session['image']}}">
        <input type="hidden" id="privateRoom" value="{{private_room}}">
        <input type="hidden" id="friendshipId" value="{{friendship.id}}">
        <div class="form-control">
            <div class="input-group">
                <input id="myMessage" type="text" placeholder="Type your message here" class="input input-bordered w-full" />
                <button id="send" onclick="sendMessage()" class="btn btn-primary">Send</button>
                <button id="cancel" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>

<template id="message_template_start">
    <div id="message" class="chat chat-start">
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
                <img id="msgImg" alt="Tailwind CSS chat bubble component" href="#" />
            </div>
        </div>
        <div class="chat-header">
            <a href="#" id="msgName"></a>
            <time id="msgTime" class="text-xs opacity-50"></time>
        </div>
        <div id="content" class="chat-bubble"></div>
    </div>
</template>

<template id="message_template_end">
    <div id="message" class="chat chat-end">
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
                <img id="msgImg" alt="Tailwind CSS chat bubble component" href="#" />
            </div>
        </div>
        <div class="chat-header">
            <a href="#" id="msgName"></a>
            <time id="msgTime" class="text-xs opacity-50"></time>
        </div>
        <div id="content" class="chat-bubble"></div>
    </div>
</template>

<script>
    let sendBtn = document.getElementById('send');
    let cancelBtn = document.getElementById('cancel');
    let messageInput = document.getElementById('myMessage');

    document.addEventListener('DOMContentLoaded', (event) => {
        var socket = io();

        socket.on('receive_message', (data) => {
            let msgTemplate = {}
            let msgDiv = {}

            msgTemplate = document.getElementById('message_template_start').content.cloneNode(true);
            msgDiv = msgTemplate.getElementById('message');

            if (data.imgUrl === '' || data.imgUrl === null || data.imgUrl === undefined || data.imgUrl === 'None') {
                msgTemplate.getElementById('msgImg').src = '/static/img/userlog.jpg'
            }
            else {
                msgTemplate.getElementById('msgImg').src = `/static/uploads/${data.imgUrl}`;
            }
            msgTemplate.getElementById('msgName').href = `${data.id}`;
            msgTemplate.getElementById('msgName').innerHTML = data.username;
            msgTemplate.getElementById('msgTime').innerHTML = data.timestamp;

            msgTemplate.getElementById('content').innerHTML = data.content;
            document.getElementById('messages_div').append(msgDiv);
        });

        window.sendMessage = function () {
            let userName = document.getElementById('idName').value;
            let idUser = document.getElementById('idUser').value;
            let imgUrl = document.getElementById('imgUrl').value;
            let privateRoom = document.getElementById('privateRoom').value;
            let friendshipId = document.getElementById('friendshipId').value;
            let msg = messageInput.value;

            socket.emit('send_private_message', {
                id: idUser,
                username: "{{session['username']}}",
                imgUrl: imgUrl,
                private_room: privateRoom,
                friendshipId: friendshipId,
                content: msg
            });
            messageInput.value = '';
        }
    });

    cancelBtn.addEventListener('click', () => {
        messageInput.value = '';
    });

</script>
{%endblock%}