<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Personajes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../../static/estilo/style.css'>
</head>
<body>
    <header>

        <a href="{{url_for('Inicio')}}"><img alt=" " src="../../../static/img/img_index/logo.png"></a>
        
    </header>
    <!--Menu principal-->
    <main class="mc_personaje_body">
        <nav>
            <ul>
                <li><a href="{{url_for('contacto')}}">CONTACTO</a></li>
                <li><a href="{{url_for('Inicio')}}">PRINCIPAL</a></li>
                <li><span class="mine"><a href="{{url_for('minecraft')}}">MINECRAFT</a></span></li>
            </ul>
        </nav><br>
        <!--Portada-->
        <div class="mc_personaje_portada">
            <img alt=" " src="../../../static/img/img_mc/mc_bg2.jpg">
        </div><br>
        <!--Procedimiento de la creación de un personaje-->
        <div class="crear_personaje"><br>
            <h2>¿COMO CREAR MI PROPIO PERSONAJE?</h2><br>
            <img alt=" " src="../../../static/img/img_mc/personaje2.jpg">
            <p>
                Para crear un <strong>personaje</strong> y hacerlo importante en la historia del lore del servidor, tienes que seguir estos pasos:<br>
            </p><br>
            <div class="crear_personaje_step1">
                <h3>1. TEN CLARO LA IDEA</h3><br>
                <img alt=" " src="../../../static/img/img_mc/idea.jpeg">
                <p>
                    Si queremos un personaje tenemos que tener todas las características claras del personaje y al menos tener una imagen ilustrativa de este. Es recomendable<br>
                    tener escrito dichas características en una <strong>memoria</strong> (documento o libreta) junto con alguna que otra foto ilustrativa.
                </p>
            </div><br>
            <div class="crear_personaje_step2">
                <h3>2. CREA LA SKIN DEL PERSONAJE</h3><br>
                <img alt=" " src="../../../static/img/img_mc/personaje.jpg">
                <p>
                    Obviamente tu personaje debe ser visible por el publico y por lo tanto hay que diseñar una skin del personaje.<br>
                    <br>
                </p><br>
                <a href="https://www.minecraftskins.com">SKINDEX</a><br>
                <br>
            </div><br>
            <div class="crear_personaje_step3">
                <h3>3. HAZ CONOCER TU PERSONAJE</h3><br>
                <img alt=" " src="../../../static/img/img_mc/personaje3.jpg">
                <p>
                    Para que oficialmente recibas tu personaje, en el Discord de Minecraft en un canal llamado <strong>Describe-tu-Personaje</strong> envia el contenido de la memoria a ese canal junto a una imagen representativa y ponte tu skin en tu cuenta de minecraft para que lo vean.
                </p>
            </div>
        </div><br>
        <div class="mc_return1">
            <a href="{{url_for('minecraft')}}">VOLVER</a><br>
            <br>
        </div>
    </main>
    <footer>
        <p>Creado por Iker Javier Rodriguez Hernandez</p>
    </footer>
</body>
</html>