{%extends 'basemc.jinja'%}

{%block title%} Diario de {{personaje['name']}}{%endblock%}

{%block content%}
    <style>
    
        @media (max-width:  768px) {
            .diarioPortada img {
                width: 320px;
                height: 320px;
            }
        }
    
    </style>
    <div class="container">
        <br><br><br>
        <br><br><br>
        <div class="optButtons">
            <a class="btn btn-success" href="{{url_for('minecraft.NewPage', idPersonaje=personaje['id'])}}"><strong>Nueva Pagina</strong></a>
            <a class="btn btn-success" href="#"><strong>Editar Estilo</strong></a>
        </div>
        <br><br><br><br>
        <div id="carouselExample" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">  
              <div class="carousel-item active">
                {%if personaje["color"] == 'green'%}
                <div width="50" style="background: green; border-radius: 10px;" class="diarioPortada">
                    <br><br>
                    <h3 style="font-family: arial; color: black; font-size: 30px;"><strong>DIARIO DE {{personaje["name"]}}</strong></h3>
                    <br><br>
                    {% if personaje['imgUrl'] == 'None' %}
                        <img alt=" " src="../../../../static/img/userlog.jpg">
                    {% else %}
                        <img class="" alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
                    {% endif %}
                    <br><br><br><br>
                </div>
                {%endif%}
                {%if personaje["color"] == 'blue'%}
                <div width="50" style="background: blue; border-radius: 10px;" class="diarioPortada">
                    <br><br>
                    <h3 style="font-family: neometra; color: black; font-size: 30px;"><strong>DIARIO DE {{personaje["name"]}}</strong></h3>
                    <br><br>
                    {% if personaje['imgUrl'] == 'None' %}
                        <img alt=" " src="../../../../static/img/userlog.jpg" width="150">
                    {% else %}
                        <img class="" alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}' width="150">
                    {% endif %}
                    <br><br><br><br>
                </div>
                {%endif%}
                {%if personaje["color"] == 'red'%}
                <div style="background: red; border-radius: 10px;" class="diarioPortada">
                    <br><br>
                    <h3 style="font-family: neometra; color: black; font-size: 30px;"><strong>DIARIO DE {{personaje["name"]}}</strong></h3>
                    <br><br>
                    {% if personaje['imgUrl'] == 'None' %}
                        <img alt=" " src="../../../../static/img/userlog.jpg" width="150">
                    {% else %}
                        <img class="" alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}' width="150">
                    {% endif %}
                    <br><br><br><br>
                </div>
                {%endif%}
                {%if personaje["color"] == 'yellow'%}
                <div width="50" style="background: yellow; border-radius: 10px; font-size: 30px;" class="diarioPortada">
                    <br><br>
                    <h3 style="font-family: neometra; color: black;"><strong>DIARIO DE {{personaje["name"]}}</strong></h3>
                    <br><br>
                    {% if personaje['imgUrl'] == 'None' %}
                        <img alt=" " src="../../../../static/img/userlog.jpg" width="150">
                    {% else %}
                        <img class="" alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}' width="150">
                    {% endif %}
                    <br><br><br><br>
                </div>
                {%endif%}
                {%if personaje["color"] == 'pink'%}
                <div width="50" style="background: pink; border-radius: 10px;" class="diarioPortada">
                    <br><br>
                    <h3 style="font-family: neometra; color: black; font-size: 30px;"><strong>DIARIO DE {{personaje["name"]}}</strong></h3>
                    <br><br>
                    {% if personaje['imgUrl'] == 'None' %}
                        <img alt=" " src="../../../../static/img/userlog.jpg" width="150">
                    {% else %}
                        <img class="" alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}' width="150">
                    {% endif %}
                    <br><br><br><br>
                </div>
                {%endif%}
                {%if personaje["color"] == 'purple'%}
                <div width="50" style="background: purple; border-radius: 10px;" class="diarioPortada">
                    <br><br>
                    <h3 style="font-family: neometra; color: black; font-size: 30px;"><strong>DIARIO DE {{personaje["name"]}}</strong></h3>
                    <br><br>
                    {% if personaje['imgUrl'] == 'None' %}
                        <img alt=" " src="../../../../static/img/userlog.jpg" width="150">
                    {% else %}
                        <img class="" alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}' width="150">
                    {% endif %}
                    <br><br><br><br>
                </div>
                {%endif%}
            </div>
            {%for pagina in paginas%}
                <div width="50" class="carousel-item">
                    <form class="pagina" method="post" action="{{url_for('minecraft.EditarPagina', idPersonaje=idPersonaje)}}">
                        {%if personaje['contenido'] == None%}
                            <textarea id="contenido" name="contenido"></textarea>
                        {%else%}
                            <textarea id="contenido" name="contenido">{{pagina["contenido"]}}</textarea>
                        {%endif%}
                        <br><br>
                        <input type="text" name="idPagina" value="{{pagina['idPagina']}}" style="display: none;">
                        <button type="submit" class="btn btn-primary"><strong>Editar</strong></button>
                        <a href="{{url_for('minecraft.DeletePage', idPagina=pagina['idPagina'])}}" class="btn btn-danger"><strong>Eliminar</strong></a>                                                                       
                    </form>
                </div>
            {%endfor%}                       
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><br>
    </div>
        <script>
            $('.carousel').carousel({
                interval: 0
            })
        </script>
{%endblock%}