{%extends 'basemc.jinja'%}

{%block title%} Personajes {%endblock%}

{%block content%}
<div class="portadaPersonajes">
    <img src="../../../../static/img/img_mc/personajesPortada.jpg">
</div>
<nav class="personajeNav">
    <div style="text-align: center;" class="personajeNavElements">
        <a class="btn btn-success" style="height: 40px;" href="{{url_for('new_character')}}">CREAR PERSONAJE</a>
    </div>
</nav>
<div class="personajeSections">
    <div class="listaPersonajes">
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <h2 style="font-family: mine_tit2; color: black;">PERSONAJES CLASIFICADOS</h2>
        <br><br><br><br>
        <br><br>
        {%for personaje in listaPersonajes%}
        {%if personaje["color"] == 'green'%}
        <div class="personaje_green">
            <h2 style="font-family: mine_tit2; color: black;">{{personaje["name"]}}</h2>
            <br><br>
            {% if personaje['imgUrl'] != 'None'%}
            <img alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
            {% else %}
            <img alt=" " src="../../../../static/img/noImage.jpg">
            {% endif %}
            <br><br>
            <p>
                {{personaje["descripcion"]}}
            </p><br>
            <br><br>
            <a href="{{url_for('VerInfoPersonaje', idPersonaje=personaje['id'])}}" class="greenButton">Detalles</a>
            <br><br>
        </div>
        <br><br><br><br>
        {%endif%}
        {%if personaje["color"] == 'blue'%}
        <div class="personaje_blue">
            <h2 style="font-family: mine_tit2; color: black;">{{personaje["name"]}}</h2>
            <br><br>
            {% if personaje['imgUrl'] != 'None' or personaje['imgUrl'] %}
            <img alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
            {% else %}
            <img alt=" " src="../../../../static/img/noImage.jpg">
            {% endif %}
            <br><br>
            <p>
                {{personaje["descripcion"]}}
            </p><br>
            <br><br>
            <a href="{{url_for('VerInfoPersonaje', idPersonaje=personaje['id'])}}" class="buttonBlue">Detalles</a>
            <br><br>
        </div>
        <br><br><br><br>
        {%endif%}
        {%if personaje["color"] == 'red'%}
        <div class="personaje_red">
            <h2 style="font-family: mine_tit2; color: black;">{{personaje["name"]}}</h2>
            <br><br>
            {% if personaje['imgUrl'] != 'None' or personaje['imgUrl'] %}
            <img alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
            {% else %}
            <img alt=" " src="../../../../static/img/noImage.jpg">
            {% endif %}
            <br><br>
            <p>
                {{personaje["descripcion"]}}
            </p><br>
            <br><br>
            <a href="{{url_for('VerInfoPersonaje', idPersonaje=personaje['id'])}}" class="buttonRed">Detalles</a>
            <br><br>
        </div>
        <br><br><br><br>
        {%endif%}
        {%if personaje["color"] == 'yellow'%}
        <div class="personaje_yellow">
            <h2 style="font-family: mine_tit2; color: black;">{{personaje["name"]}}</h2>
            <br><br>
            {% if personaje['imgUrl'] != 'None' or personaje['imgUrl'] %}
            <img alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
            {% else %}
            <img alt=" " src="../../../../static/img/noImage.jpg">
            {% endif %}
            <br><br>
            <p>
                personaje["descripcion"]
            </p><br>
            <br><br>
            <a href="{{url_for('VerInfoPersonaje', idPersonaje=personaje['id'])}}" class="buttonYellow">Detalles</a>
            <br><br>
        </div>
        <br><br><br><br>
        {%endif%}
        {%if personaje["color"] == 'pink'%}
        <div class="personaje_pink">
            <h2 style="font-family: mine_tit2; color: black;">{{personaje["name"]}}</h2>
            <br><br>
            {% if personaje['imgUrl'] != 'None' or personaje['imgUrl'] %}
            <img alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
            {% else %}
            <img alt=" " src="../../../../static/img/noImage.jpg">
            {% endif %}
            <br><br>
            <p>
                {{personaje["descripcion"]}}
            </p><br>
            <br><br>
            <a href="{{url_for('VerInfoPersonaje', idPersonaje=personaje['id'])}}" class="buttonPink">Detalles</a>
            <br><br>
        </div>
        <br><br><br><br>
        {%endif%}
        {%if personaje["color"] == 'purple'%}
        <div class="personaje_purple">
            <h2 style="font-family: mine_tit2; color: black;">{{personaje["name"]}}</h2>
            <br><br>
            {% if personaje['imgUrl'] != 'None' or personaje['imgUrl'] %}
            <img alt=" " src='../../../../static/uploads/{{personaje["imgUrl"]}}'>
            {% else %}
            <img alt=" " src="../../../../static/img/noImage.jpg">
            {% endif %}
            <br><br>
            <p>
                {{personaje["descripcion"]}}
            </p><br>
            <br><br>
            <a href="{{url_for('VerInfoPersonaje', idPersonaje=personaje['id'])}}" class="buttonPurple">Detalles</a>
            <br><br>
        </div>
        <br><br><br>
        <br><br>
        {%endif%}
        {%endfor%}
    </div>
</div>
{%endblock%}