{%extends 'base.jinja'%}

{%block title%} Inicio {%endblock%}

{%block content%}
<!--Portada-->
<div class="portada">
    <img alt=" " style="border-color: black;" src="/static/img/img_index/portada.PNG">
</div>


<!--Contenido principal-->
<div class="main_content">
    <h2><strong>BIENVENIDO A PANA GAMING!!!</strong></h2>

</div><br>

<!--Comunidades-->

<div class="container">
    <div class="newsPannel">

    </div>
    <div class="minecraftIndexLink">
        <h1 style="color: black;"><strong>MINECRAFT PANA GAMING</strong></h1>
        <br><br>
        <p style="color: black;">
            Unete a un servidor de Minecraft totalmente único donde puedes disfrutar de experiencias no antes vividas en otros servidores de Minecraft.
        </p>
        <br><br>
        <a href="{{url_for('minecraft.index')}}">Visitar</a>
        <br><br>
    </div>
</div>

<br>
{%endblock%}