{%extends 'base.jinja'%}

{%block title%} Inicio {%endblock%}

{%block content%}
<!--Portada-->
<div class="portada">
    <img alt=" " src="/static/img/img_index/portada.PNG">
</div>


<!--Contenido principal-->
<div class="main_content">
    <h2><strong>BIENVENIDO A LA WEB DE PANA GAMING!!!</strong></h2>

</div><br>

<!--Comunidades-->

<div class="container">
    <div class="newsPannel">

    </div>
    <div class="minecraftIndexLink">
        <h1 style="color: black;"><strong>MINECRAFT PANA GAMING</strong></h1>
        <br><br>
        <p style="color: black;">
            Unete al mejor servidor de minecraft RPG y roleplay de toda España y Latinoamerica.
            Disfruta de los mejores eventos, misiones y del lore que tenemos preparado para vosotros.
        </p>
        <br><br>
        <a href="{{url_for('minecraft')}}">Visitar</a>
        <br><br>
    </div>
</div>

<br>
{%endblock%}