{%extends 'basemc.jinja'%}

{%block title%} Minecraft Pana Gaming {%endblock%}

{%block content%}
<div class="mcpg_portada" style="border-color: black;">
    <img src="../../static/img/img_mc/server_preview.png">
</div>
<div class="mc_section1" >
    <h1 style="color: black;"><strong>DESCRIPCION</strong></h1><br>
    <div class="mc_section1_text" style="border-color: black;">
        <p style="border-color: black; color: black;">
            Minecraft Pana Gaming es un servidor RP con mods e historia con el propósito de crear un entorno de juego
            amigable y divertido para aquellas personas que juegan por pasarlo bien.<br>
            No evaluamos el nivel de experiencia en el juego sino el comportamiento de los usuarios y como rolean.<br>
            <br>
            <strong>Historia y Lore: </strong><br>
            La historia del lore tiene relacion con los personajes creados por la comunidad, es decir, van sucediendo
            cosas imprevistas dependiendo de los rumbos que pueden hacernos seguir cada personajes o suceso de cada
            evento.
        </p>
    </div><br>
</div>
<div class="mc_section2">
    <br><br><br>
    
    <!--Personajes de los usuarios-->
    <div class="mc_sections">

        <!--Contenido del servidor-->
        <div class="mc_section2_ingame" style="border-color: black;">
            <br>
            <h2 style="border-color: black;"><strong style="color: black;">SERVIDOR</strong></h2>
            <img class="mx-auto" style="border-color: black;" alt=" " src="../../static/img/img_mc/mc_bg3.jpg"><br>
            <br>
            <p style="color: black;">
                Unete y disfruta de una experiencia totalmente unica en nuestro servidor de Minecraft.
            </p>
            <br><br>
            <a href="{{url_for('minecraft.minecraftServer')}}">VISITAR</a><br>
            <br>
        </div>
        <br>
        <div class="mc_section2_personaje" style="border-color: black;">
            <br>
            <h2 style="border-color: black;"><strong style="color: black;">PERSONAJES</strong></h2>
            <img class="mx-auto" style="border-color: black;" alt=" " src="../../static/img/img_mc/153724-skin-orig-3-article_m-1.png"><br>
            <br>
            <p style="color: black;">
                Desarrolla tu personaje que más se adapte a tu personalidad y haz que su peso en el Lore sea mayor.
            </p>
            <br><br>
            <a href="{{url_for('characters.index')}}">VISITAR</a><br>
            <br>
        </div>
        <br>
        <div class="mc_section_store" style="border-color: black;">
            <br>
            <h2 style="border-color: black;"><strong style="color: black;">TIENDA</strong></h2>
            <img class="mx-auto" style="border-color: black;" alt=" " src="/static/img/img_mc/villager.jpg"><br>
            <br><br>
            <a href="{{url_for('minecraft.minecraftServer')}}">VISITAR</a><br>
            <br>
        </div>
        <br><br>
    </div>
</div>
{%endblock%}