{%extends 'base.jinja'%}

{%block title%} Soporte {%endblock%}

{%block content%}
<br><br><br><br>
{%if errorMsg != null%}
<div style="text-align: center;">
    <label class="errorMsg">{{errorMsg}}</label>
</div>
{%endif%}
<div class="container">
    <form class="tiketForm" action="{{url_for('enviarTiket')}}" method="post">
        <h2>TIKET</h2>
        <br><br>
        <label><strong>Nombre de Discord: </strong></label><br><input type="text" name="userName"><br>
        <br>
        <label><strong>Asunto: </strong></label><br>
        <textarea name="texto"></textarea>
        <div class="tiketFormButtons">
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </div>
    </form>
</div>
{%endblock%}