{%extends 'base.jinja'%}

{%block title%} Soporte {%endblock%}

{%block content%}
<br><br>
{%if errorMsg != null%}
<div style="text-align: center;">
    <label class="errorMsg">{{errorMsg}}</label>
</div>
{%endif%}
<div class="container">
    <form class="tiketForm" action="{{url_for('tiket')}}" method="post">
        <h2>TIKET</h2>
        <br><br>
        <label><strong>Nombre de Discord: </strong></label><br><input type="text" name="userName"><br>
        <br>
        <label><strong>Asunto: </strong></label><br>
        <textarea name="texto"></textarea>
        <br><br>
        <div class="tiketFormButtons">
            <button type="submit" class="btn btn-success"><strong>Enviar</strong></button>
            <button type="reset" class="btn btn-secondary"><strong>Cancelar</strong></button> 
        </div>
        <br>
    </form>
</div>
<br><br><br>
{%endblock%}