{%extends 'basemc.jinja'%}

{%block title%}Nuevo{%endblock%}

{%block content%}
<div class="container">
    <form class="manageForm" action="{{url_for('CrearSectorPerdido')}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <h2>Descripción</h2><br>
            <textarea name="descripcion"></textarea>
        </div>
        <br><br>
        <div class="row">
            <div class="col col-6">
                <br>
                <div class="form-group">
                    <label>Imágen</label>
                    <br>
                    <input type="file" name="imagen" accept="image/png, image/jpeg, image/jpg" style="color: white;">
                </div>
                <br>
                <div class="form-group">
                    <div>
                        <label>Activo:</label>
                        <select name="activo">
                            <option value="true">✔️</option>
                            <option value="false">❌</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Planeta:</label>
                        <select name="planeta">
                            <option value="Fjordur">Fjordur</option>
                            <option value="Betweenlands">Betweenlands</option>
                            <option value="Scorched">Scorched</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col col-6 coordenadas">
                <h2>Coordenadas</h2>
                <br>
                <div>
                    <label>Cord X</label>
                    <input type="number" name="cord_x">
                </div><br>
                <div>
                    <label>Cord Y</label>
                    <input type="number" name="cord_y">
                </div><br>
                <div>
                    <label>Cord Z</label>
                    <input type="number" name="cord_z">
                </div>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn_table">Crear</button>
        <a class="btn_table" href="{{url_for('GestionarSectoresPerdidos')}}">Volver</a>
    </form>
</div>
{%endblock%}