.btn_table {
    border: solid 0.1em;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    background:rgb(44, 44, 44);
    border: solid 0.1em;
    border-color: #00ff62;
    box-shadow: 3px 3px 3px black;
}
.btn_table:hover {
    background: #00bd48;
}
.btn_message_send {
    width: 70px;
    border-color: black;
    background: green;
    border: none;
    border: solid 0.1em;
    font-weight: bold;
    margin-left: 5px;
}
.btn_message_send:hover {
    background: rgb(0, 255, 0);
}