{%extends 'base.jinja'%}

{%block title%} Editar estilo perfil {%endblock%}

{%block content%}
<br><br><br>
<br><br><br>
<div style="text-align: center;">
    <a href="{{url_for('usuario.MiPerfil', id=session['id'])}}" class="btn btn-success"><strong>Volver</strong></a>
</div>
<br><br>
{% if user['main'] != None %}
<div id="profileGreen" class="{{user['main']}}">
    <br><br>
    <div class="profileAvatar">
        <br>
        <img src="{{user['avatar']}}">
        <br><br>
    </div>
    <br>
    <div class="profileDatos">
        <br><br>
        <div>
            <label style="color: white;"><strong>Nombre:</strong> {{user["name"]}}</label>
        </div>
        <br><br>
        <div>
            <label style="color: white;"><strong>Mote:</strong> {{user["mote"]}}</label><br>
        </div>
        <br><br>
        <div>
            <label style="color: white;"><strong>Sobre mi:</strong></label>
            <br><br><br>
            <textarea id="textDescripcion" name="descripcion" readonly>
                        {{user["descripcion"]}}
                    </textarea>
            <br>
        </div><br>
    </div>
    <br><br>
</div>
{% else %}
<div id="profileGreen" class="profileDefault">
    <br><br>
    <div class="profileAvatar">
        <br>
        <img src="{{user['avatar']}}">
        <br><br>
    </div>
    <br>
    <div class="profileDatos">
        <br><br>
        <div>
            <label style="color: white;"><strong>Nombre:</strong> {{user["name"]}}</label>
        </div>
        <br><br>
        <div>
            <label style="color: white;"><strong>Mote:</strong> {{user["mote"]}}</label><br>
        </div>
        <br><br>
        <div>
            <label style="color: white;"><strong>Sobre mi:</strong></label>
            <br><br><br>
            <textarea id="textDescripcion" name="descripcion" readonly>
                        {{user["descripcion"]}}
                    </textarea>
            <br>
        </div><br>
    </div>
    <br><br>
</div>
{% endif %}
<br><br>
<br>
<div class="editPannel">
    <br><br>
    <div class="options">
        <div class="btn-group">
            <button id="buttonMenu" style="font-size: 19px; font-weight: bold;" type="button"
                class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Estilos Normales
            </button>
            <div id="dOpts" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <button class="dropdown-item" id="everyDefaultBtn">Todos</button>
                <button class="dropdown-item" id="blueFilterBtn">Azul</button>
                <button class="dropdown-item" id="greenFilterBtn">Verde</button>
                <button class="dropdown-item" id="redFilterBtn">Rojo</button>
                <button class="dropdown-item" id="yellowFilterBtn">Amarillo</button>
                <button class="dropdown-item" id="purpleFilterBtn">Morado</button>
            </div>
            <script>
                let btnMenu = document.getElementById("buttonMenu");
                let menuOpts = document.getElementById("dOpts");
                btnMenu.addEventListener("click", () => {
                    menuOpts.classList.toggle("on");
                });
            </script>
        </div>
        <button id="opt2" class="btn btn-success"><strong>Estilos Especiales</strong></button>
    </div>
    <br><br><br><br>
    <div class="optionsSelect" id="optionsUserEdit">

        <!-- En este div aparecerá todas las opciones disponibles de edicion de estilo -->
    </div>
    <br><br>
</div>
<br><br><br>
<template id="defaultTemplate">
    <div class="row" id="defaultThemes">
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bBlue1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="blue2">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wBlue1">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bBlue3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wBlue3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bBlue4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wBlue4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bGreen1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wGreen1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="green2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bGreen3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wGreen3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bGreen4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wGreen4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bRed1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wRed1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="red2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bRed3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wRed3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bRed4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wRed4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bYellow1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wYellow1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="yellow2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bYellow3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wYellow3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bYellow4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wYellow4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bPurple1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wPurple1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="purple2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bPurple3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wPurple3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bPurple4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wPurple4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w purple.png"></button>
        </form>
    </div>
</template>

<template id="blueTemplate">
    <div class="row" id="blueThemes">
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bBlue1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="blue2">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wBlue1">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bBlue3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wBlue3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bBlue4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_blue.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wBlue4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w blue.png"></button>
        </form>
    </div>
</template>

<template id="greenTemplate">
    <div class="row" id="greenThemes">
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bGreen1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wGreen1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="green2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bGreen3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wGreen3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bGreen4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_green.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wGreen4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w green.png"></button>
        </form>
    </div>
</template>

<template id="yellowTemplate">
    <div class="row" id="yellowThemes">
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bYellow1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wYellow1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="yellow2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bYellow3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wYellow3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bYellow4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_yellow.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wYellow4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w yellow.png"></button>
        </form>
    </div>
</template>

<template id="redTemplate">
    <div class="row" id="redThemes">
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bRed1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wRed1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="red2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bRed3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wRed3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bRed4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_red.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wRed4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w red.png"></button>
        </form>
    </div>
</template>

<template id="purpleTemplate">
    <div class="row" id="purpleThemes">
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bPurple1">
            <button type="submit"><img src="/static/assets/img/users/1/BLACK/1b_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wPurple1">
            <button type="submit"><img src="/static/assets/img/users/1/WHITE/1w_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="purple2">
            <button type="submit"><img src="/static/assets/img/users/2/colored/2_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bPurple3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wPurple3">
            <button type="submit"><img
                    src="/static/assets/img/users/3/Alternative_background/White/3w_alt_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="bPurple4">
            <button type="submit"><img src="/static/assets/img/users/4/Black/4b_purple.png"></button>
        </form>
        <form class="col-sm-3" method="post" action="{{url_for('usuario.SetUserBackground', id=session['id'])}}"
            style="margin-bottom: 40px;">
            <input type="hidden" name="mainBk" value="wPurple4">
            <button type="submit"><img src="/static/assets/img/users/4/White/4w purple.png"></button>
        </form>
    </div>
</template>
<script src="../../../static/scripts/styleProfile.js"></script>
{%endblock%}