{%extends 'base.jinja'%}

{%block title%} Editar estilo perfil {%endblock%}

{%block content%}


<link rel="stylesheet" type="text/css" href="/static/estilo/users/userStyle.css">
<div class="container">
    <br>
    {%if user['main'] != None %}
    <div class="min-h-screen flex items-center justify-center p-10">
        <div
            class="{{user['main']}} font-std mb-10 w-full rounded-2xl p-10 font-normal leading-relaxed text-gray-900 shadow-xl">
            <div class="flex flex-col md:flex-row">
                <div class="avatar_div md:w-1/3 text-center mb-8 md:mb-0 bg-black p-5">
                    <img src="{{user['avatar']}}" alt="Profile Picture"
                        class="rounded-full w-28 h-28 mx-auto mb-4 border-4 border-indigo-800 transition-transform duration-300 hover:scale-105 ring ring-gray-300">
                    <h1 class="text-2xl font-bold mb-2">{{user['name']}}</h1>
                </div>
                <div class="info_div md:w-2/3 md:pl-8 bg-black md:ml-10 p-5">
                    <br>
                    {% if user["mc_name"] != None %}
                    <strong>Minecraft: </strong>
                    <label class="text-gray-600 mb-6">{{user['mc_name']}}</label>
                    {%endif%}

                    <label style="text-align: left;" class="text-xl font-bold">Descripción</label>
                    <p class="mb-6">
                        {{user['descripcion']}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="min-h-screen flex items-center justify-center p-10">
        <div
            class="green-b1 font-std mb-10 w-full rounded-2xl p-10 font-normal leading-relaxed text-gray-900 shadow-xl">
            <div class="flex flex-col md:flex-row">
                <div class="avatar_div md:w-1/3 text-center mb-8 md:mb-0 bg-black p-5">
                    <img src="{{user['avatar']}}" alt="Profile Picture"
                        class="rounded-full w-28 h-28 mx-auto mb-4 border-4 border-indigo-800 transition-transform duration-300 hover:scale-105 ring ring-gray-300">
                </div>
                <div class="info_div md:w-2/3 md:pl-8 bg-black md:ml-10 p-5">
                    <h1 class="text-2xl font-bold mb-2">{{user['name']}}</h1>
                    <br>
                    {% if user["mc_name"] != None %}
                    <strong>Minecraft: </strong>
                    <label class="text-gray-600 mb-6">{{user['mc_name']}}</label>
                    {%endif%}

                    <label style="text-align: left;" class="text-xl font-bold">Descripción</label>
                    <p class="mb-6">
                        {{user['descripcion']}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <br><br>
    <br><br>
    <div class="editPannel">
        <br><br>
        <div class="options">
            <div class="btn-group">
                <a href="{{url_for('usuario.my_profile', id=session['id'])}}" class="btn btn-success">
                    <strong>Volver</strong>
                </a>
            </div>
            <br><br><br><br>
            <div class="optionsSelect" id="optionsUserEdit">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" id="defaultThemes">
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-b1">
                        <button type="submit"><img src="/static/assets/img/users/1/BLACK/b_blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-w1">
                        <button type="submit"><img src="/static/assets/img/users/1/WHITE/w_blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-2">
                        <button type="submit"><img src="/static/assets/img/users/2/colored/2_blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-b3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-w3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/White/3w_alt_blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-b4">
                        <button type="submit"><img src="/static/assets/img/users/4/Black/4b_blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="blue-w4">
                        <button type="submit"><img src="/static/assets/img/users/4/White/4w blue.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-b1">
                        <button type="submit"><img src="/static/assets/img/users/1/BLACK/b_green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-w1">
                        <button type="submit"><img src="/static/assets/img/users/1/WHITE/w_green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-2">
                        <button type="submit"><img src="/static/assets/img/users/2/colored/2_green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-b3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-w3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/White/3w_alt_green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-b4">
                        <button type="submit"><img src="/static/assets/img/users/4/Black/4b_green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="green-w4">
                        <button type="submit"><img src="/static/assets/img/users/4/White/4w green.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-b1">
                        <button type="submit"><img src="/static/assets/img/users/1/BLACK/b_red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-w1">
                        <button type="submit"><img src="/static/assets/img/users/1/WHITE/w_red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-2">
                        <button type="submit"><img src="/static/assets/img/users/2/colored/2_red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-b3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-w3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/White/3w_alt_red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-b4">
                        <button type="submit"><img src="/static/assets/img/users/4/Black/4b_red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="red-w4">
                        <button type="submit"><img src="/static/assets/img/users/4/White/4w red.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-b1">
                        <button type="submit"><img src="/static/assets/img/users/1/BLACK/b_yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-w1">
                        <button type="submit"><img src="/static/assets/img/users/1/WHITE/w_yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-2">
                        <button type="submit"><img src="/static/assets/img/users/2/colored/2_yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-b3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-w3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/White/3w_alt_yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-b4">
                        <button type="submit"><img src="/static/assets/img/users/4/Black/4b_yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="yellow-w4">
                        <button type="submit"><img src="/static/assets/img/users/4/White/4w yellow.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-b1">
                        <button type="submit"><img src="/static/assets/img/users/1/BLACK/b_purple.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-w2">
                        <button type="submit"><img src="/static/assets/img/users/1/WHITE/w_purple.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-2">
                        <button type="submit"><img src="/static/assets/img/users/2/colored/2_purple.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-b3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/Black/3b_alt_purple.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-w3">
                        <button type="submit"><img
                                src="/static/assets/img/users/3/Alternative_background/White/3w_alt_purple.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-b4">
                        <button type="submit"><img src="/static/assets/img/users/4/Black/4b_purple.png"></button>
                    </form>
                    <form class="h-24 hover:border-green-500" method="post"
                        action="{{url_for('usuario.set_main_style', id=session['id'])}}" style="margin-bottom: 40px;">
                        <input type="hidden" name="mainBk" value="purple-w4">
                        <button class="hover:border-green-500" type="submit"><img
                                src="/static/assets/img/users/4/White/4w purple.png"></button>
                    </form>
                </div>
                <!-- En este div aparecerá todas las opciones disponibles de edicion de estilo -->
            </div>
            <br><br>

        </div>
        <br><br><br>
        <br><br>
    </div>
    <br><br>
    {%endblock%}