<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="/static/estilo/style.css">
    <link ref="stylesheet" href="/static/estilo/fonts.css">
    <link ref="stylesheet" href="/static/estilo/indexStyle.css">
    <link rel="stylesheet" href="/static/estilo/profileStyle.css">
    <link rel="stylesheet" href="/static/estilo/styleDiario.css">
    <link rel="stylesheet" href="/static/estilo/stylePersonajes.css">
    <link rel="stylesheet" href="/static/estilo/components/buttons.css">
    <link rel="stylesheet" href="/static/estilo/components/forms.css">
    <link rel="stylesheet" href="/static/estilo/components/tables.css">
    <link rel="stylesheet" href="/static/estilo/styleSoporte.css">
    <link rel="stylesheet" href="/static/estilo/indexStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/estilo/tailwind/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src='/static/scripts/main.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header class="mx-auto">
        <a href="{{url_for('index')}}"><img class="mx-auto" alt=" " src="/static/img/img_index/logo.png"></a>
    </header>
    {%if session%}
    <div class="usuarioSesion">
        <a class="mx-auto" style="text-decoration: none; color: white;" href="{{url_for('usuario.MiPerfil', id=session['id'])}}"><img
            class="mx-auto"
            src="{{session['imgUrl']}}"></a>
        <label>{{session['name']}}</label>
    </div>
    {%endif%}
    <nav class="mx-auto">
        {%if session%}
        <div class="mx-auto">
            <a href="{{url_for('community')}}">COMUNIDAD</a>
            <a href="{{url_for('index')}}">PRINCIPAL</a>
            <a href="{{url_for('minecraft.index')}}">MINECRAFT</a>
            <a href="{{url_for('auth.logout')}}">CERRAR SESION</a>
            {%if session['role'] == 'Ejecutivo' or session['role'] == 'Staff'%}
                <a href="{{url_for('notifications.index')}}">NOTIFICACIONES</a>
            {%endif%}
        </div>
        {%else%}
        <div class="mx-auto">
            <a href="{{url_for('community')}}">COMUNIDAD</a>
            <a href="{{url_for('index')}}">PRINCIPAL</a>
            <a href="{{url_for('auth.login')}}">INICIAR SESION</a>
            <a href="{{url_for('auth.register')}}">REGISTRAR</a>
        </div>
        {%endif%}
    </nav><br>
    <main style="height: 100%;">
        {%block content%} {%endblock%}
    </main>
    <footer>
        © 2024 Pana Gaming. Todos los derechos reservados.
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>