{%extends 'base.jinja'%}

{%block title%} Comunidad Pana Gaming {%endblock%}

{%block content %}
<div class="userlist"><br>
    <br><br><br><br><br>
    <h2 style="color:rgb(0, 190, 190);">EJECUTIVOS</h2>
    {% for user in ejecList %}
    <div id="ejecutivo" class="ejecutivo">
        <div style="border: solid 0.2em; border-color: rgb(0, 190, 190);" class="userInfo">
            <div class="info">
                <img src="{{user.avatar.url}}"><br>
                <div class="userData">
                    {%if user.nick != None%}
                    <label><strong>Nombre: </strong>{{user.nick}}</label><br>
                    {%else%}
                    <label><strong>Nombre: </strong>Indefinido</label><br>
                    {%endif%}
                </div>
                <div id="extraInfo" class="extraInfo">
                    <br>
                    <label><strong>Fecha Incorporacion: </strong>{{user.joined_at}}</label><br>
                    <label><strong>Fecha Creación: </strong>{{user.created_at}}</label>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    <br><br><br><br>
    <h2 style="color:blue;">STAFF</h2>
    {%for user in staffList%}
    <div id="staff" class="staff">
        <div style="border: solid 0.2em; border-color: rgb(0, 13, 255);" class="userInfo">
            <div class="info">
                <img src="{{user.avatar.url}}"><br>
                <div class="userData">
                    {%if user.nick != None%}
                    <label><strong>Nombre: </strong> {{user.nick}} </label><br>
                    {%else%}
                    <label><strong>Nombre: </strong> Indefinido</label><br>
                    {%endif%}
                </div>
                <div id="extraInfo" class="extraInfo">
                    <br>
                    <label><strong>Fecha Incorporacion: </strong>{{user.joined_at}}</label><br>
                    <label><strong>Fecha Creación: </strong>{{user.created_at}}</label>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    <br><br><br><br>
    <h2 style="color:rgb(172, 0, 172);">MIEMBROS</h2>
    {%for user in memberList%}
    <div id="members" class="members">
        <div style="border: solid 0.2em; border-color: rgb(225, 0, 255);" class="userInfo">
            <div class="info">
                <img src="{{user.avatar.url}}"><br>
                <div class="userData">
                    {%if user.nick != None%}
                    <label><strong>Nombre:</strong> {{user.nick}} </label><br>
                    {%else%}
                    <label><strong>Nombre:</strong> Indefinido</label><br>
                    {%endif%}
                </div>
                <div id="extraInfo" class="extraInfo">
                    <br>
                    <label><strong>Fecha Incorporacion: </strong>{{user.joined_at}}</label><br>
                    <label><strong>Fecha Creación: </strong>{{user.created_at}}</label>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    <br>
</div>
{%encblock%}