{%extends 'base.jinja'%}

{%block title%} Inicio{%endblock%}

{%block content%}

<!--Portada-->
<div class="portada">
    <img alt=" " src="/static/img/img_index/portada.jpg">
</div>


<div class="main_content">
    <h2>BIENVENIDO PANA GAMING!!!</h2>
</div><br>
<div class="container">
    <div class="apartadoDiscord">
        <br><br>
        <iframe class="discordFrame mx-auto" src="https://discordapp.com/widget?id=793956939687133184&theme=dark" width="350"
            height="500" allowtransparency="true" frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <br><br><br><br>
        <a class="btnJoinDiscord" href="https://discord.gg/wNnCkV6ZvJ"><strong>UNIRSE</strong></a><br>
        <br><br>
    </div>
    <br>
</div>
{%endblock%}