{%extends 'base.jinja'%}

{%block title%} Iniciar Sesion{%endblock%}

{%block content%}

<style>
    .errors {
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: Arial;
        background: rgb(255, 54, 54);
        border-radius: 20px;
        padding: 10px;
        margin-top: 20px;
        font-size: 20px;
    }

    .loginForm {
        width: 400px;
        margin: auto;
        text-align: center;
        margin-top: 100px;
        font-family: Arial;
        background: rgb(22, 22, 22);
        background: linear-gradient(90deg, rgba(22, 22, 22, 1) 10%, rgba(79, 79, 79, 1) 50%, rgba(22, 22, 22, 1) 90%);
        padding: 40px;
        color: white;
        border-radius: 10px;
        border: solid 0.2em;
        border-color: rgb(0, 207, 0);
    }

    .loginForm img {
        border-radius: 50%;
        width: 160px;
    }

    .formContent {
        font-size: 25px;
        margin-bottom: 30px;
        color: white;
    }

    .formContent input {
        width: 280px;
        border-radius: 20px;
        border-color: rgb(0, 199, 0);
        font-family: Arial;
        font-size: 20px;
        text-align: center;
    }

    .formButtons input {
        padding: 5px;
        margin: 10px;
        background: black;
        color: white;
        border-color: green;
        font-weight: bold;
    }

    .formButtons input:hover {
        background: rgb(0, 41, 0);
    }
</style>
<br><br><br>
<div class="container" style="height: 100vh;">
    <br>
    {%if errorMsg != null%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMsg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
    <form action="{{url_for('login')}}" class="loginForm" method="post">
        <img src="/static/img/img_index/logo.png">
        <br><br>
        <div class="formContent">
            <label><strong>Nombre de Usuario </strong><br><input type="text" name="username" required></label><br>
            <br>
            <label><strong>Contraseña </strong><br><input type="password" name="passwd" required></label><br>
        </div>
        <div class="formButtons">
            <button type="submit" class="btn_table">Iniciar Sesion</button>
        </div>
    </form>
</div>
<br><br>

{%endblock%}