{%extends 'base.jinja'%}

{%block title%} Registrarse {%endblock%}


{%block content %}
<style>
    .registerForm {
        width: 700px;
        background: rgb(22, 22, 22);
        background: linear-gradient(90deg, rgba(22, 22, 22, 1) 10%, rgba(79, 79, 79, 1) 50%, rgba(22, 22, 22, 1) 90%);
        padding: 40px;
        font-family: Arial;
        text-align: center;
        margin-top: 550px;
        color: white;
        font-size: 20px;
        border: solid 0.2em;
        border-color: rgb(0, 255, 0);
        border-radius: 20px;
        margin: auto;
    }

    @media (max-width: 1024px) {
        .registerForm {
            width: 100%;
            margin-top: 100px;
        }
    }

    @media (max-width: 767px) {
        .contentForm input {
            width: 100px;
        }
        .contentForm textarea {
            width: 100px;
        }
    }

    .registerForm img {
        border-radius: 50%;
        width: 150px;
    }
    .registerForm input {
        color: black;
        width: 100%;
    }
    .registerForm textarea {
        color: black;
        padding: 3px;
    }

    .registerForm textarea {
        width: 400px;
        height: 200px;
        border-radius: 10px;
        border: solid 0.2em;
        border-color: rgb(0, 255, 0);
        padding: 2px;
    }

    .buttonsForm input {
        border: solid 0.2em;
        border-color: rgb(0, 175, 0);
        padding: 5px;
        font-weight: bold;
        font-family: Arial;
        background: black;
        color: rgb(0, 0, 0);
        margin: 10px;
        text-align: center;
    }

    .buttonsForm input:hover {
        background: rgb(0, 145, 0);
    }

    .contentForm input {
        width: 400px;
        border-radius: 20px;
        border: solid 0.2em;
        border-color: rgb(0, 196, 0);
        text-align: center;
    }
</style>
<div class="container" style="height: 100%;">
    <br><br><br><br><br><br>
    {%if errorMsg != null%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMsg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
    <form class="registerForm" action="{{url_for('auth.register')}}" method="post">
        <img class="mx-auto" src="/static/img/img_index/logo.png" alt="">
        <br><br>
        <div class="contentForm">
            <label><strong>Id de Discord</strong></label><br><input type="text" name="idUser"><br>
            <br>
            <label><strong>Nombre de Usuario</strong></label><br><input type="text" name="username"><br>
            <br>
            <label><strong>Contraseña</strong><br><input type="password" name="passwd"></label><br>
            <br>
            <label><strong>Confirmar Contraseña</strong><br><input type="password" name="passwd2"></label><br>
            <br>
            <label><strong>Sobre ti (Opcional)</strong></label><br>
            <textarea name="descripcion"></textarea>
        </div>
        <br><br>
        <div class="buttonsForm">
            <button type="submit" class="ext-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                <strong>Registrarse</strong>
            </button>
        </div>
    </form>
    <br><br><br>
</div>

{%endblock%}