{%extends 'basemc.jinja'%}

{%block title%} Personajes {%endblock%}

{%block content%}
<br><br><br><br>
<div class="container" style="height: 100vh;">
  <br><br><br>
  <div class="navbar bg-base-100 shadow-xl shadow-green-500/50" style="border-radius: 10px;">
    <a href="{{url_for('characters.my_character')}}" class="mx-auto btn btn-success">
      <strong>Mi Personaje</strong>
    </a>
  </div>
  <br><br><br>
  <div style="
      height: 800px;
      padding: 20px;
    " 
    class="mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {%for character in characters%}
    <div style="height: 500px;" class="mx-auto card bg-base-100 shadow-green-500/50 sm:w-50 lg:w-50 shadow-xl">
      <figure class="px-10 pt-10">
        {%if character.image != None%}
          <img width="240" height="240" src="/static/uploads/{{character.image}}"
            class="rounded-xl" />
        {%else%}
          <img width="240" height="240" src="/static/img/noImage.jpg"
            class="rounded-xl" />
        {%endif%}
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">{{character.name}}</h2>
        <p style="overflow-y: scroll;">
          {{character.description}}
        </p>
        <div class="card-actions">
          <a href="{{url_for('characters.details_character', id=character.id)}}" type='button' class='py-2.5 px-6 text-sm rounded-full bg-gradient-to-r from-green-500 text-black to-green-300 cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-gradient-to-l'>
            Ver Detalles
          </a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}