{%extends 'basemc.jinja'%}

{%block title%}Editar{%endblock%}

{%block content%}

<style>
    .selected {
        background: rgb(72, 255, 72);
    }

    .personajesDispo button {
        padding: 15px;
    }

    .personajesDispo button:hover {
        background: rgb(72, 255, 72);
    }

    .personajesDispo button img {
        width: 70px;
    }

    .personajesDispo h3 {
        color: white;
        font-weight: bold;
    }
</style>
<div class="container">
    <form class="manageForm" action="{{url_for('minecraft.EditarMision', id=mision['id'])}}" method="POST"
        enctype="multipart/form-data">
        <div class="form-group">
            <h2>Descripción</h2><br>
            <textarea name="descripcion">{{mision['descripcion']}}</textarea>
        </div>
        <br><br>
        <br>
        <div class="form-group">
            <label>Imágen</label>
            <br>
            <input type="file" name="imagen" accept="image/png, image/jpeg, image/jpg" style="color: white;">
        </div>
        <br><br>
        <div class="row">
            <div class="col col-3">
                <label>Tipo</label>
                <br>
                <select name="tipo">
                    {%if mision['tipo'] == 'Exploracion'%}
                    <option value="Exploracion" selected>Exploracion</option>
                    <option value="Ataque">Ataque</option>
                    <option value="Investigación">Investigación</option>
                    {%endif%}
                    {%if mision['tipo'] == 'Ataque'%}
                    <option value="Exploracion">Exploracion</option>
                    <option value="Ataque" selected>Ataque</option>
                    <option value="Investigación">Investigación</option>
                    {%endif%}
                    {%if mision['tipo'] == 'Investigación'%}
                    <option value="Exploracion">Exploracion</option>
                    <option value="Ataque" selected>Ataque</option>
                    <option value="Investigación">Investigación</option>
                    {%endif%}
                </select>
            </div>
            <div class="col col-3">
                <label>Dificultad</label>
                <br>
                <select name="dificultad">
                    {%if mision['dificultad'] == 'Facil'%}
                    <option value="Facil" selected>Facil</option>
                    <option value="Normal">Normal</option>
                    <option value="Heroico">Heroico</option>
                    <option value="Legendario">Legendario</option>
                    {%endif%}
                    {%if mision['dificultad'] == 'Normal'%}
                    <option value="Facil">Facil</option>
                    <option value="Normal" selected>Normal</option>
                    <option value="Heroico">Heroico</option>
                    <option value="Legendario">Legendario</option>
                    {%endif%}
                    {%if mision['dificultad'] == 'Heroico'%}
                    <option value="Facil">Facil</option>
                    <option value="Normal">Normal</option>
                    <option value="Heroico" selected>Heroico</option>
                    <option value="Legendario">Legendario</option>
                    {%endif%}
                    {%if mision['dificultad'] == 'Legendario'%}
                    <option value="Facil">Facil</option>
                    <option value="Normal">Normal</option>
                    <option value="Heroico">Heroico</option>
                    <option value="Legendario" selected>Legendario</option>
                    {%endif%}
                </select>
            </div>
            <div class="col col-3">
                <label>Estado</label>
                <br>
                <select name="estado">
                    {%if mision['estado'] == 'Desactivado'%}
                    <option value="Desactivado" selected>Desactivado</option>
                    <option value="Activado">Activado</option>
                    <option value="Solicitado">Solicitado</option>
                    <option value="En Curso">En Curso</option>
                    <option value="Terminado">Terminado</option>
                    {%endif%}
                    {%if mision['estado'] == 'Activado'%}
                    <option value="Desactivado">Desactivado</option>
                    <option value="Activado" selected>Activado</option>
                    <option value="Solicitado">Solicitado</option>
                    <option value="En Curso">En Curso</option>
                    <option value="Terminado">Terminado</option>
                    {%endif%}
                    {%if mision['estado'] == 'Solicitado'%}
                    <option value="Desactivado">Desactivado</option>
                    <option value="Activado">Activado</option>
                    <option value="Solicitado" selected>Solicitado</option>
                    <option value="En Curso">En Curso</option>
                    <option value="Terminado">Terminado</option>
                    {%endif%}
                    {%if mision['estado'] == 'En Curso'%}
                    <option value="Desactivado">Desactivado</option>
                    <option value="Activado">Activado</option>
                    <option value="Solicitado">Solicitado</option>
                    <option value="En Curso" selected>En Curso</option>
                    <option value="Terminado">Terminado</option>
                    {%endif%}
                    {%if mision['estado'] == 'Terminado'%}
                    <option value="Desactivado">Desactivado</option>
                    <option value="Activado">Activado</option>
                    <option value="Solicitado">Solicitado</option>
                    <option value="En Curso">En Curso</option>
                    <option value="Terminado" selected>Terminado</option>
                    {%endif%}
                </select>
            </div>
            <div class="col col-3">
                <label>Grupo de Personas</label>
                <br>
                <select name="grupo" id="group">
                    {%if mision['num_personas'] == '1'%}
                    <option value="1" selected>Individual</option>
                    <option value="2">Duo</option>
                    <option value="4">Escuadron</option>
                    {%else%}
                    {%if mision['num_personas'] == '2'%}
                    <option value="1">Individual</option>
                    <option value="2" selected>Duo</option>
                    <option value="4">Escuadron</option>
                    {%else%}
                    <option value="1">Individual</option>
                    <option value="2">Duo</option>
                    <option value="4" selected>Escuadron</option>
                    {%endif%}
                    {%endif%}
                </select>
            </div>

        </div>
        <br><br>
        <div class="personajesDispo">
            <h3>Tipo de Personajes:</h3>
            <div>
                <button type="button" id="btnGuerrero"><img src="../../../../../static/img/guerreroSymbol.png"></button>
                <button type="button" id="btnAventurero"><img
                        src="../../../../../static/img/aventureroSymbol.png"></button>
                <button type="button" id="btnHechicero"><img
                        src="../../../../../static/img/hechizeroSymbol.png"></button>

                <input type="hidden" id="allowGuerrero" name="allowGuerrero" value="{{mision['guerrero']}}">
                <input type="hidden" id="allowAventurero" name="allowAventurero" value="{{mision['aventurero']}}">
                <input type="hidden" id="allowHechicero" name="allowHechicero" value="{{mision['hechicero']}}">
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn_table">Editar</button>
        <a class="btn_table" href="{{url_for('minecraft.GestionarMisiones')}}">Volver</a>
    </form>
</div>
<script type="module" src="../../../../../static/scripts/missions/tipoPersonajes.js"></script>
{%endblock%}