{%extends 'basemc.jinja'%}

{%block title%}Lista de Misiones{%endblock%}

{%block content%}
<style>
    .table {
        border-radius: 10px;
    }

    .detallesContent {
        background: rgb(53, 53, 53);
        border: solid 0.1em;
        border-color: rgb(0, 255, 0);
    }

    .detallesImg img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 5px;
    }

    .detallesDescription {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background: rgb(31, 31, 31);
        padding: 5px;
        border-radius: 10px;
    }

    .detallesPlanet {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background: rgb(31, 31, 31);
        padding: 5px;
        border-radius: 10px;
    }

    .detallesCord {
        background: rgb(31, 31, 31);
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px;
        border-radius: 10px;
    }

    .detallesCord span {
        margin: 10px;
    }

    .detallesData {
        background: rgb(31, 31, 31);
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px;
        border-radius: 10px;
    }

    .tiposPersonajes img {
        margin: 20px;
    }
</style>


<div class="container">
    <ul class="responsive-table ">
        <li class="table-header">
            <div class="col col-1"><a class="btn btn-secondary"
                    href="{{url_for('minecraft')}}"><strong>Volver</strong></a></div>
            <div class="col col-2">Descripción</div>
            <div class="col col-4">Estado</div>
            <div class="col col-5"><a class="btn btn-success"
                    href="{{url_for('minecraft.NuevaMision')}}"><strong>Nuevo</strong></a></div>
        </li>
        {% for mision in misiones %}
        <li class="table-row">
            <div class="col col-1">
                {% if mision['imagen'] != 'None'%}
                <img src="../../../../../static/uploads/{{mision['imagen']}}">
                {% else %}
                <img src="../../../../../static/img/noImage.jpg">
                {% endif %}
            </div>
            <div class="col col-2">{{mision['descripcion']}}</div>
            <div class="col col-3">
                {{mision['estado']}}
            </div>
            <div class="col col-4" style="margin: 10px;">
                <button class="btn_table" data-bs-toggle="modal"
                    data-bs-target="#detalles_{{mision['id']}}">Detalles</button>
                <a href="{{url_for('minecraft.EditarMision', id=mision['id'])}}" class="btn_table">Editar</a>
                <a href="{{url_for('minecraft.BorrarMision', id=mision['id'])}}" class="btn_table">Eliminar</a>

                <div class="modal fade" id="detalles_{{mision['id']}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content detallesContent">
                            <br>
                            <div style="text-align: center;" class="detallesImg">
                                {% if mision['imagen'] != 'None' %}
                                <img style="
                                            width: 80%;
                                            margin-left: 10%;
                                            margin-right: 10%;
                                            border-radius: 5px;"
                                    src="../../../../../static/uploads/{{mision['imagen']}}">
                                {% else %}
                                <img style="
                                            width: 80%;
                                            margin-left: 10%;
                                            margin-right: 10%;
                                            border-radius: 5px;" src="../../../../../static/img/noImage.jpg">
                                {% endif %}
                            </div>
                            <br>
                            <div class="detallesDescription">
                                {{mision['descripcion']}}
                            </div>
                            <br>
                            <div class="detallesData">
                                <div>
                                    <strong>Tipo: </strong><span>{{mision['tipo']}}</span>
                                </div>
                                <br>
                                <div>
                                    <strong>Grupo: </strong>
                                    {% if mision['num_personas'] == 1 %}
                                    <span>Individual</span>
                                    {% endif %}
                                    {% if mision['num_personas'] == 2 %}
                                    <span>Duo</span>
                                    {% endif %}
                                    {% if mision['num_personas'] == 4 %}
                                    <span>Escuadron</span>
                                    {% endif %}
                                </div>
                                <br>
                                <div>
                                    <strong>Dificultad: </strong><span>{{mision['dificultad']}}</span>
                                </div>
                                <br>
                                <div class="tipoPersonajes">
                                    <strong>Tipo de Personajes: </strong><br>
                                    {% if mision['guerrero'] == "true" %}
                                    <img src="../../../../../static/img/guerreroSymbol.png">
                                    {% endif %}
                                    {% if mision['aventurero'] == "true" %}
                                    <img src="../../../../../static/img/aventureroSymbol.png">
                                    {% endif %}
                                    {% if mision['hechicero'] == "true" %}
                                    <img src="../../../../../static/img/hechizeroSymbol.png">
                                    {% endif %}
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}